name: publish-beta

on:
  push:
    branches: [ main ]
    paths:
        - 'DH.SKIT.FlurlHttpClient.Wechat.Ads/**'
        - 'DH.SKIT.FlurlHttpClient.Wechat.Api/**'
        - 'DH.SKIT.FlurlHttpClient.Wechat.OpenAI/**'
        - 'DH.SKIT.FlurlHttpClient.Wechat.TenpayBusiness/**'
        - 'DH.SKIT.FlurlHttpClient.Wechat.TenpayV2/**'
        - 'DH.SKIT.FlurlHttpClient.Wechat.TenpayV3/**'
        - 'DH.SKIT.FlurlHttpClient.Wechat.Work/**'
  pull_request:
    branches: [ main ]
    paths:
        - 'DH.SKIT.FlurlHttpClient.Wechat.Ads/**'
        - 'DH.SKIT.FlurlHttpClient.Wechat.Api/**'
        - 'DH.SKIT.FlurlHttpClient.Wechat.OpenAI/**'
        - 'DH.SKIT.FlurlHttpClient.Wechat.TenpayBusiness/**'
        - 'DH.SKIT.FlurlHttpClient.Wechat.TenpayV2/**'
        - 'DH.SKIT.FlurlHttpClient.Wechat.TenpayV3/**'
        - 'DH.SKIT.FlurlHttpClient.Wechat.Work/**'
  workflow_dispatch:

jobs:
  build-publish:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Setup dotNET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: |
          8.x
          9.x
          10.x
    - name: Get Version
      run: echo "VERSION=$(date '+%Y.%m%d-beta%H%M')" >> $GITHUB_ENV
    - name: Build
      run: |
        dotnet build -c Release --version-suffix ${{ env.VERSION }}
    - name: Pack
      run: |
        dotnet pack --no-build --version-suffix ${{ env.VERSION }} -c Release -o out DH.SKIT.FlurlHttpClient.Wechat.Ads/DH.SKIT.FlurlHttpClient.Wechat.Ads.csproj
        dotnet pack --no-build --version-suffix ${{ env.VERSION }} -c Release -o out DH.SKIT.FlurlHttpClient.Wechat.Api/DH.SKIT.FlurlHttpClient.Wechat.Api.csproj
        dotnet pack --no-build --version-suffix ${{ env.VERSION }} -c Release -o out DH.SKIT.FlurlHttpClient.Wechat.OpenAI/DH.SKIT.FlurlHttpClient.Wechat.OpenAI.csproj
        dotnet pack --no-build --version-suffix ${{ env.VERSION }} -c Release -o out DH.SKIT.FlurlHttpClient.Wechat.TenpayBusiness/DH.SKIT.FlurlHttpClient.Wechat.TenpayBusiness.csproj
        dotnet pack --no-build --version-suffix ${{ env.VERSION }} -c Release -o out DH.SKIT.FlurlHttpClient.Wechat.TenpayV2/DH.SKIT.FlurlHttpClient.Wechat.TenpayV2.csproj
        dotnet pack --no-build --version-suffix ${{ env.VERSION }} -c Release -o out DH.SKIT.FlurlHttpClient.Wechat.TenpayV3/DH.SKIT.FlurlHttpClient.Wechat.TenpayV3.csproj
        dotnet pack --no-build --version-suffix ${{ env.VERSION }} -c Release -o out DH.SKIT.FlurlHttpClient.Wechat.Work/DH.SKIT.FlurlHttpClient.Wechat.Work.csproj

    - name: Publish
      run: |
        #dotnet nuget push ./out/*.nupkg --skip-duplicate --source https://nuget.pkg.github.com/PeiKeSmart/index.json --api-key ${{ github.token }}
        dotnet nuget push ./out/*.nupkg --skip-duplicate --source https://api.nuget.org/v3/index.json --api-key ${{ secrets.nugetKey }}
        dotnet nuget push ./out/*.nupkg --skip-duplicate --source https://nuget.chuangchu.net/v3/index.json --api-key ${{ secrets.mynugetKey }}
